.welcome {
  --welcome-margin: 2.5rem;
  margin-bottom: var(--welcome-margin);
  max-width: 453px;
  
  &_heading {
    --welcome-heading-margin: 1rem;
    margin-bottom: var(--welcome-heading-margin);
    font-weight: 300;
    font-size: clamp(2.5rem, 9.5vw, 4rem);
    span {
      font-weight: 500;
    }
  }

  &_description {
    color: var(--grey-navy);
    font-size: clamp(0.875rem, 3.2vw, 1.25rem);
  }
}

.category_list {
  --category-padding: clamp(0.75rem, 1.5vw, 1.25rem);
  --category-item-margin: 0.75rem;
  width: 100%;
  max-width: 40rem;
  li {
    margin-bottom: var(--category-item-margin);
    &:last-child {
      margin-bottom: unset;
    }
  }

  .category {
    font-weight: 500;
    font-size: clamp(1.125rem, 4.2vw, 1.75rem);
    border-radius: 0.75rem;
    border-width: 0;
    font-family: Rubik, sans-serif;
    color: var(--text-color);
    text-decoration: none;

    &:hover, &:focus-visible {
      transition: none;
      outline: solid var(--purple) 3px;
    }

    img {
      width: clamp(2.5rem, 12%, 3.5rem);
      border-radius: 0.25rem;
    }

    display: flex;
    align-items: center;
    padding: var(--category-padding);
    gap: clamp(1rem, 4vw, 2rem);
    width: 100%;
    background-color: var(--button-bg-color);
  }
}

@media screen and (min-width: 48rem) {
  .welcome {
    --welcome-margin: 4rem;
  }

  .category_list {
    --category-item-margin: 1.5rem;
    .category {
      img {
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .welcome {
    &_heading {
      --welcome-heading-margin: 3rem;
    }
  }
  .category_list {
    max-width: 35.25rem;
  }
}
