@import "./../../styles/mixins.scss";

.welcome {
  @include left-section-attributes();

  &_heading {
    --welcome-heading-margin: 1rem;
    margin-bottom: var(--welcome-heading-margin);
    font-weight: 300;
    font-size: clamp(2.5rem, 9.5vw, 4rem);
    span {
      font-weight: 500;
    }
  }

  &_description {
    @include small-italic-text();
  }
}

.category_list {
  @include right-section-attributes();

  .category {
    @include option-style();

    &:hover,
    &:focus-visible {
      transition: none;
      outline: solid var(--purple) 3px;
    }

    img {
      width: clamp(2.5rem, 12%, 3.5rem);
      border-radius: 0.25rem;
    }
  }
}

@media screen and (min-width: 48rem) {
  .category_list {
    .category {
      img {
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .welcome {
    &_heading {
      --welcome-heading-margin: 3rem;
    }
  }
}
