@use "./../../styles/mixins.scss" as *;

.quiz {
  &_text {
    @include left-section-attributes();

    &_small-text {
      @include small-italic-text();
    }

    &_question {
      font-weight: 500;
      font-size: clamp(1.25rem, 5vw, 2.25rem);
      margin-top: clamp(0.75rem, 3.4vw, 1.6875rem);
      line-height: 120%;
    }

    &_time-bar {
      --corner: 0.25rem;
      
      width: 100%;
      appearance: none;
      background-color: var(--button-bg-color);
      padding: 0.25rem;
      border-radius: calc(var(--corner) * 2);

      &::-webkit-progress-bar {
        background-color: inherit;
        border-radius: var(--corner);
      }

      &::-webkit-progress-value {
        background-color: var(--purple);
        border-radius: var(--corner);
        transition: width 0.5s ease-in-out;
      }

      &::-moz-progress-bar {
        background-color: inherit;
      }
    }
  }

  &_form {
    --space: 0.75rem;
    @include right-section-attributes();

    &_option-list {
      margin-bottom: var(--space);
      &_item {
        &_choice {
          @include option-style();

          span:first-child {
            width: clamp(2.5rem, 12%, 3.5rem);
            aspect-ratio: 1;
            display: grid;
            place-items: center;
            background-color: var(--body-bg-color);
            border-radius: 0.375rem;
          }

          &:hover {
            cursor: pointer;
            span:first-child {
              background-color: #f6e7ff;
              color: var(--purple);
            }

            &:disabled {
              cursor: not-allowed;
              span:first-child {
                background-color: var(--body-bg-color);
                color: inherit;
              }
            }
          }

          &:focus-visible {
            transition: none;
            outline: none;
            span:first-child {
              background-color: #f6e7ff;
              color: var(--purple);
            }
          }

          &.active {
            transition: 0s outline;
            outline: solid var(--purple) 3px;
            span:first-child {
              color: var(--pure-white);
              background-color: var(--purple);
            }

            &.wrong-option {
              outline-color: var(--red);
              span:first-child {
                background-color: var(--red);
              }
            }

            &.right-option {
              outline-color: var(--green);
              span:first-child {
                background-color: var(--green);
              }
            }
          }
        }
      }
    }

    &_submit-button,
    &_next-button {
      width: 100%;
      color: var(--pure-white);
      background-color: var(--purple);
      padding: var(--space);
      border: none;
      border-radius: 0.75rem;
      font-family: inherit;
      font-size: clamp(1.125rem, 4.2vw, 1.75rem);
      font-weight: 500;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        outline: none;
        background-color: #d394fa;
      }

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }
    }

    &_next-button {
      display: none;
    }
  }
}

@media screen and (min-width: 48rem) {
  .quiz {
    &_form {
      --space: 2rem;
      &_option-list {
        &_item {
          &_choice {
            span:first-child {
              border-radius: 0.75rem;
            }
          }
        }
      }

      &_submit-button,
      &_next-button {
        border-radius: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .quiz {
    &_form {
      &_option-list {
        &_item {
          &_choice {
            span:first-child {
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
}
